table{
    background-color: white !important;
}


button{
    background-color: steelblue !important;
    border-color: skyblue !important;
}

.actionButton{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

h1{
    text-align: center;
}

section{
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #333;
    margin-bottom: 50px;
}


