h1{
    text-transform: capitalize;
    margin-bottom: 30px;
}

#actionButton{
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.containerDati{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.componentiPost{
    margin-left: 10px;
}

section{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #333;
    padding: 5px 15px;
}

.buttonStyle{
    margin-left: 10px;
}